* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background: wheat;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  font-family: "Cinzel" serif;
}
header {
  background-color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 70px;
  margin: auto;
  flex-wrap: wrap;
}
nav ul {
  width: auto;
  display: flex;
  justify-content: space-between;
background-color: bisque;
  gap: 30px;
}
nav ul li {
  font-size: 17px;
  font-weight: 700;
}
.productos_nav picture img{
  width: auto;
  height: 2%;
  margin: 2px 5px 2px 5px;
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav ul li:hover {
  color: #b2a074;
}
nav ul li a:hover {
  color: darkgreen;
}
.principal {
  width: 100%;
  height: 93vh;
  display: flex;
  justify-content: center;
}
.principal picture {
  width: 100%;
  height: 93vh;
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.principal .cristal_principal {
  margin: auto;
  background: rgba(105, 15, 15, 0.75);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(7, 223, 151, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(50px);
}
.principal h1 {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0px 0px;
  font-size: 70px;
  color: #b2a074;
  text-align: center;
}
.cita {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin-top: 15px;
}
.cita div {
  width: 70%;
  padding: 50px 0px;
}
.cita q {
  width: 50%;
  position: relative;
  font-size: 40px;
  width: 70%;
  margin: auto;
  color: white;
}
footer {
  color: white;
  width: 100%;
  height: 100px;
  background-color: black;
  flex-direction: column;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer button {
  border: none;
  font-family: "Cinzel", serif;
  width: 100%;
  height: 100px;
  background-color: aliceblue;
  font-size: 17px;
}

footer button:hover {
  background-color: #b2a074;
  color: white;
  cursor: pointer;
}

footer p {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  nav ul {
    width: 100%;
    margin: auto;
  }
  .productos {
    height: auto;
    margin-bottom: 50px;
  }
  .cita q {
    font-size: 30px;
  }

  .cita div {
    padding: 50px 0px;
  }
}
